<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="../../public/styles/reset.css" />
    <link
      rel="stylesheet"
      href="../../public/styles/pages/registration-page.css"
    />
  </head>
  <body id="sign-up-page">
    <header><%-include("../partials/navbar") %></header>
    
    <main data-center>
      <h1 class="title" data-center>WELCOME ONBOARD!</h1>
      <form
        id="sign-up-form"
        action="/auth/sign-up"
        method="post"
        data-center
        data-stack
      >
        <div data-stack style="--gutter: 0.25rem">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            title="Please fill out this field."
          />
          <span class="error-msg">
            <% errors.forEach(err => {if (err.path==="username") {%> <%= err.msg
            %> <% }}) %>
          </span>
        </div>
        <div data-stack>
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            title="Please fill out this field."
          />
          <span class="error-msg">
            <% errors.forEach(err => {if (err.path==="password") {%> <%= err.msg
            %> <% }}) %>
          </span>
        </div>
        <div data-stack>
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            title="Please fill out this field."
          />
          <span class="error-msg">
            <% errors.forEach(err => {if (err.path==="confirmPassword") {%> <%=
            err.msg %> <% }}) %>
          </span>
        </div>
        <div data-stack>
          <label for="fname">First name:</label>
          <input
            type="text"
            name="fname"
            id="fname"
            title="Please fill out this field."
          />
          <span class="error-msg">
            <% errors.forEach(err => {if (err.path==="fname") {%> <%= err.msg %>
            <% }}) %>
          </span>
        </div>
        <div data-stack>
          <label for="lname">Last name:</label>
          <input
            type="text"
            name="lname"
            id="lname"
            title="Please fill out this field."
          />
          <span class="error-msg">
            <% errors.forEach(err => {if (err.path==="lname") {%> <%= err.msg %>
            <% }}) %>
          </span>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </main>
    <footer><%-include("../partials/footer") %></footer>
  </body>
</html>
